@page "/jscalculator"

<div>
    <label for="number1">Liczba 1:</label>
    <input id="number1" type="number" />
</div>

<div>
    <label for="number2">Liczba 2:</label>
    <input id="number2" type="number" />
</div>

<div>
    <button onclick="calculateSum()">Sumuj</button>
</div>

<div id="result">
</div>

@code {

}
