@page "/newCalculatorValidation"
@using System.ComponentModel.DataAnnotations


<h3>NewCalculator validation</h3>

<EditForm Model="model" OnValidSubmit="Sum">
    <DataAnnotationsValidator />
    <div>
        <label>Number1</label>
        <InputNumber @bind-Value="model.Number1" />
        <ValidationMessage For="@(()=> model.Number1)" />
        <label>Number2</label>
        <InputNumber @bind-Value="model.Number2" />
        <ValidationMessage For="@(()=> model.Number2)" />
        <button type="submit">Add</button>
    </div>
</EditForm>
<p>Result: @model.Result</p>


@code {
    protected override async Task OnInitializedAsync()
    {
        if (model == null)
        {
            model = new OperationModel();
        }
    }

    OperationModel model;
    void Sum()
    {
        model.Result = model.Number1 + model.Number2;
    }
    public class OperationModel

    {
        [Range(0, 100, ErrorMessage = "Number 1 must be in range 0 to 100")]
        public int Number1 { get; set; }
        [Range(0, 100, ErrorMessage = "Number 2 must be in range 0 to 100")]
        public int Number2 { get; set; }
        public int Result { get; set; }
    }
}
