@page "/newCalculator"


<h3>NewCalculator</h3>

<EditForm Model="model" OnValidSubmit="Sum">
    <div>
        <label>Number1</label>
        <InputNumber @bind-Value="model.Number1" />     
        <label>Number2</label>
        <InputNumber @bind-Value="model.Number2" />
        <button type="submit">Add</button>
    </div>
</EditForm>
<p>Result: @model.Result</p>


@code {
    protected override async Task OnInitializedAsync()
    {
        if (model == null)
        {
            model = new OperationModel();
        }
    }

    OperationModel model;
    void Sum()
    {
        model.Result = model.Number1 + model.Number2;
    }
    public class OperationModel

    {
        public int Number1 { get; set; }
        public int Number2 { get; set; }
        public int Result { get; set; }
    }
}
