@page "/products/editProduct/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Customer")]

<h3>EditProduct</h3>

@if(product == null)
{
    <p>@message</p>
}
else
{
    <ProductForm product="product" OnValidSubmit="HandleValidSubmit"></ProductForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Product product;
    private string message = "Loading product...";

    protected override async Task OnInitializedAsync()
    {
        var response = await ProductService.GetProductAsync(Id);
        if (response.Success)
            product = response.Data;
        else
            message = response.Message;
    }

    private async Task HandleValidSubmit()
    {
        var response = await ProductService.UpdateProductAsync(product);
        if (response.Success)
            NavigationManager.NavigateTo("/products/productsList");
        else
            message = response.Message;
    }
}
