@page "/register"
@using Shop.Shared.Auth
@using Shop.Shared.Services.Auth

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<EditForm Model="userRegisterDto" OnValidSubmit="HandleRegister">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value=userRegisterDto.Email></InputText>
    </div>

    <div class="form-group">
        <label for="userName">User Name</label>
        <InputText id="userName" class="form-control" @bind-Value=userRegisterDto.UserName></InputText>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" class="form-control" @bind-Value=userRegisterDto.Password></InputText>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <InputText id="confirmPassword" class="form-control" @bind-Value=userRegisterDto.ConfirmPasswrod></InputText>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

</EditForm>
<p>@message</p>


@code {
    
    UserRegisterDto userRegisterDto = new UserRegisterDto();
    string message = string.Empty;

    async Task HandleRegister()
    {
        var result = await AuthService.Register(userRegisterDto);
        if (result.Success)
        {
            NavigationManager.NavigateTo("login");
        }
        else
        {
            message = result.Message;
        }
    }
}