@page "/books"
@using BookBlazorServer.Entities
@using BookBlazorServer.Services

@inject IBookService BookService
@inject NavigationManager NavigationManager

@*  @attribute [StreamRendering] *@
@* @rendermode InteractiveServer
 *@
 @rendermode @(new InteractiveServerRenderMode(prerender:false))

@if (books == null)
{
    <span>Loading...</span>
}
else if (books.Count == 0)
{
    <span>No books...</span>
}
else
{
    <ul>
        @foreach (var book in books)
        {
            <li>@book.Name</li>
        }
    </ul>
}

<button class="btn btn-primary" @onclick=AddBook>Add book</button>


@code {
    List<Book>? books = null;

    protected override async Task OnInitializedAsync()
    {
        books = await BookService.GetAllBooksAsync();
    }

    private void AddBook()
    {
        NavigationManager.NavigateTo("/editbook");
    }

}